<!DOCTYPE html>
<html lang="en">
<head>
    <!-- title -->
    <title>video</title>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <!-- js -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="{{ url_for('static',filename='js/mobile.js') }}"></script>
</head>
<body>
    <div data-role="page" id="page1">
        <div data-role="header">
            <h1>mobile RPI3</h1>
        </div>
        <div data-role="main" class="ui-content" id="control">
            <img src="{{ url_for('get_video') }}">
            <a href="#alertpage">警告視窗</a>
            <!-- <div id="control"> -->
                <div class="ui-grid-b">
                    <div class="ui-block-a"><span></span></div>
                    <div class="ui-block-b"><span>
                        <a id="forward" class="ui-btn ui-icon-arrow-u ui-btn-icon-bottom">forward</a></span></div>
                    <div class="ui-block-c"><span></span></div>

                    <div class="ui-block-a"><span>
                        <a id="left" class="ui-btn ui-icon-arrow-l ui-btn-icon-bottom">left</a></span></div>
                    <div class="ui-block-b"><span>
                        <a id="stop" class="ui-btn ui-icon-forbidden ui-btn-icon-bottom">stop</a></span></div>
                    <div class="ui-block-c"><span>
                        <a id="right" class="ui-btn ui-icon-arrow-r ui-btn-icon-bottom">right</a></span></div>

                    <div class="ui-block-a"><span></span></div>
                    <div class="ui-block-b"><span>
                        <a id="backward" class="ui-btn ui-icon-arrow-d ui-btn-icon-bottom">backward</a></span></div>
                    <div class="ui-block-c"><span></span></div>
                </div>
            <!-- </div> -->
        </div>
        <div data-role="footer">
            <h1 id="output1"></h1>
        </div>
    </div> 
    
    <!-- 手機警告視窗開始 -->
    <div data-role="page" data-dialog="true" id="alertpage">
        <div data-role="header">
            <h1>我是小視窗！</h1>
        </div>
    
        <div data-role="main" class="ui-content">
            <p>左上角可關閉</p>
            <a href="#page1">回剛才頁面</a>
        </div>
    
        <div data-role="footer">
            <h1>footer</h1>
        </div>
    </div>
    <!-- 手機警告視窗結束 -->
</body>
</html>